@import url('fonts.css');
@media screen {
    body, html {
        height:100%;
    }

    body > #preso,
    body > #preso > .slide {
/* Allows the height to vary by a handful of pixels based on what browser chrome is visible. */
        height: 100%;

/* static heights to fit different browser configurations. Safari values. */
/*      height: 706px;    /* allows room for the tab bar and status bar */
/*      height: 728px;    /* allows room for the status bar only */
/*      height: 744px;    /* allows room for neither bar */
    }
}

@media all {
    /* branding */
    body {
        font-family: 'Cabin', 'Lucida Grande', helvetica, arial, sans-serif;
        background: url(_images/linen.png);
        font-size: 62.5%;
    }

    code {
        font-family: 'Courier New', Courier, monospace;
    }

    /* why so center aligned? */
    .content > p,
    .content li {
        text-align: left !important;
    }

    /* but put the images back to center. Assumes that images will always be block. */
    .content > p > img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        max-width: 80%;
    }


    .content li > ol,
    .content li > ul {
        font-size: 100%;
    }

    .content {
        margin-top: 0 !important;  /* Places the slide title consistently. Not vertically centered. */
        margin-left: 1em;
        margin-right: 1em;
        font-size: 1.6em;
    }

    .content h1 {
	    font-family: 'Cabin';
	    font-size: 3em;
    }

    .content h2 {
	    font-size: 2em;
    }

    .content h3 {
	    font-size: 1.8em;
    }

    .content > ul, .content > ol, .content > p {
	    font-size: 1.6em;
    }

    .lesson > h2 {
	    font-weight: bold !important;
	    text-transform: uppercase;
	}

    /* why is this being set explicitly? */
    .slide .center {
        width: 1024px;
    }

    /* Add some nice styling to the code blocks. */
    .content pre {
        border: 2px solid #ddd;
        padding: 0.5em;
        overflow: hidden;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }

    /* if needed, we can scroll to view */
    .content pre.code_scrolled {
        overflow: auto;
    }

    /* smaller text size
    .content pre.code_small {
        font-size: 125%;
    }

    .content pre.code_smaller {
        font-size: 100%;
    }

    */

    /* centered code window */
    .content pre.code_center {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    /* add shell inverse color so we can visually identify code. */
    .content pre.sh_shell,
    .content pre.sh_sh,
    .content pre.sh_docker,
    .content pre.sh_python {
        background-color: black;
        color: white;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        border-radius: 0;
    }

    pre.sh_docker {
      background-color: black !important;
    }

    span.sh_preproc, span.sh_keyword, span.sh_variable {
        color: #98B9ED !important;
    }

    span.sh_function {
        color: white !important;
    }

    span.sh_string {
        color: #97C967 !important;
    }

    pre.sh_sourceCode .sh_comment { color: #DEFA9D; font-style: normal; }
    pre.sh_sourceCode .sh_symbol { color: #fff; font-style: normal; }
    pre.sh_sourceCode .sh_number { color: #DEFA9D; font-style: normal; }

    /* add classes for index results */
    .content pre.index {
        font-family: 'Courier New', Courier, monospace;
    }
    .content pre.index span.hit {
        color: #81ff26;
    }
    .content pre.index span.version {
        color: cyan;
    }

    /* do we need to fiddle with the size? */
    .content > pre {
       font-size: 120%;
    }

    /* make the menu less broken */
    a.fg-button, div.fg-menu-container {
        font-size: 0.7em;
    }

    /* remove some gratuitous whitespace */
    .content li {
        padding: .25em;
    }

    /* this is a hacky fix to a silly problem. If you put a code snippet directly after a list, things
      get boogered up. We had previously been using ` ` to break the lines, but that causes other issues,
      specifically with printing. Instead, use this style and put a line like ".break some text". */
    p.break {
        display: none;
    }

    /* I'm using this style for word definitions. */
    p.define {
        border: 1px solid #efefef;
        border-left: 5px solid #ccc;
        margin-left: 15px;
        padding: 5px;
        background: #fefefe;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
    }
    p.define:first-line {
        font-size: 1.2em !important;
        font-weight: bold;
    }

    p.highlight {
        border: 1px solid #cfcfcf;
        padding: 1em;
        border-radius: 0.75em;
        border-bottom-width: 4px;
        border-right-width: 4px;
        text-align: center !important;
        width: 75%;
        margin: 2em auto;
    }
    p.highlight:first-letter {
        font-size: 2em;
        font-family: Book Antiqua;
    }
    p.highlight a {
        font-weight: bold;
        line-height: 2em;
    }

    /* table styling */
    /* first fix sizes for small and smaller slide styles */
    .content.small table {
        font-size: 2em;
    }
    .content.smaller table {
        font-size: 1.5em;
    }

    /* default to full width */
    .content table {
        width: 100%;
    }

    /* now add gussied up chart style */
    table.chart {
        margin-left: auto;
        margin-right: auto;
        border-collapse:collapse;
        width: 80%;
    }

    table.chart th {
        border-bottom: 2px solid #ccc;
        padding: 0.5em;
    }

    table.chart tr td {
        border-top: 1px solid #eee;
        text-align: center;
        padding: 1em;
    }

    table.chart tr td:first-child {
        border-right: 2px solid #ccc;
        text-align: left;
        width: 100px;
        font-weight: bold;
    }

    /* layout & background for exercises and labs */
    .content.exercise > h1:first-of-type {
	    background: white url('_images/exercise.png') no-repeat top right;
	    height: 100px;
	    padding-right: 100px;
    }

    .content.lab > h1:first-of-type {
      	background: white url('_images/lab.png') no-repeat top right;
      	height: 100px;
      	padding-right: 100px;
    }

    .content.exercise h1,
    .content.lab h1 {
        text-align: left;
        font-size: 3em;
    }

    .content.exercise h2,
    .content.lab h2 {
    	text-align: left;
    	font-size: 2em;
    }

    .content.exercise > ul > li,
    .content.lab > ul > li {
        font-weight: bold;
    }

    .content.exercise > ul > li > ul,
    .content.lab > ul > li > ul {
        font-weight: normal;
        background: #ccc;
        margin-right: 4em;
        border: 2px solid #ddd;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
    }

    .subsection h1 {
        background: rgb(89, 146, 163);
        color: #fff;
        padding: .25em;
    }

    /**********************************
    ***   supplemental materials   ***
    **********************************/
    #slides.supplemental .content h1,
    #slides.supplemental .content h2,
    #slides.supplemental .content h3 {
        text-align: left;
    }

    #slides.supplemental .content div.em,
    #slides.supplemental .content span.em {
        border: 1px dotted #ccc;
        background-color: #efefef;
        font-weight: bold;
    }

    /* Gradient color1 - color2 - color1 */
    #slides.supplemental .content hr {
        border: 0;
        height: 1px;
        background: #333;
        background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
        background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
        background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
        background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
        background-image:         linear-gradient(left, #ccc, #333, #ccc);
    }

    #slides.supplemental .content pre {
        background-color: #fcfcfc;
    }

    #slides.supplemental .content pre.sh_sh {
        background-color: black;
    }
}

@media print {
  /* branding */
  body {
    font-family: 'Cabin', helvetica, sans-serif !important;
    background: none;
  }

  h1 {
	  font-size: 2em !important;
	  font-family: 'Cabin' !important;
  }

  h2 {
	  font-size: 1.5em !important;
	  font-family: 'Cabin' !important;
  }

  h3, h4, h5, h6 {
	  font-family: 'Cabin' !important;
	  font-size: 1.3em !important;
  }

  .content > p, .content > ol, .content > ul {
	  font-size: 1.2em !important;
  }

  .content > pre {
	  font-size: 80% !important;
  }

  .content.exercise > h1:first-of-type {
  	background: white url('_images/exercise-sm.png') no-repeat top right;
  	height: 50px;
  }

  .content.lab > h1:first-of-type {
    background: white url('_images/lab-sm.png') no-repeat top right;
    height: 50px;
  }

  .slide {
    /* use /onepage because wkthmltopdf isn't that great */
    max-height: inherit !important;
    height: auto !important;
    padding: 0.5em;
    width: 8.1in !important;
  }

  img {
    max-width: 7in !important;
  }

  /* why does he unset all this and never reset it? Argh! */
  ul {
    list-style: disc;
  }

  /* Ugly hack for tables, who never seem to scale properly. Ick */
  .content table {
    font-size: 0.65em;
  }

  /* Styling to make the handout notes appear in the printed output. */
  div.handouts {
    display: block !important;
    margin: 0 1em;
  }

  /* prepend the first element of the .handouts div with Notes: */
  div.handouts > :first-child:before {
    content: "Notes:";
    border-top: 2px dashed #999;
    font-weight: bold;
    display: block;
    padding: 1em 0.5em 0.5em 0;
  }

  div.handouts * {
    font-size: 12pt !important;
  }

  div.handouts p {
    padding-top: 0.5em;
  }

  div.handouts ol,
  div.handouts ul {
    margin-left: 1em;
    padding-left: 0;
  }
  div.handouts li {
    margin-left: 2em;
    padding-top: 0.5em;
  }

  div.handouts p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/* print formatting for Prince */
@page {
  size: US-Letter;
/*  margin: 0.45in 0; */
  margin: 0.5in 0in 1.0in 0in;
  orphans: 3;
  widows: 3;

  @top-center {
  	content: string(doctitle);
  	font-weight: normal;
  	padding-top: 0.5em;
  	vertical-align: bottom;
  	font-family: 'Cabin' !important;
  }

  @bottom-left {
    content: "Intro to Docker {{DOCKER_TRAINING_VERSION}}";
    padding-left: 0.5in;
  	font-family: 'Cabin' !important;
  }

  @bottom-right {
    content: "\00a9  2015, 2016, 2017 Docker Inc"; /* escaped hex for copyright sign */
    padding-right: 0.5in;
  	font-family: 'Cabin' !important;
  }

  @bottom-center {
    content: counter(page);
  	font-family: 'Cabin' !important;
  }
}

/* set subsection titles for Prince */
div.content.subsection > h1 {
  string-set: doctitle content();
}

div.content.supplemental.exercises pre code {
  font-size: 12px;
}
